<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <script type = "text/javascript" src = "{{ "/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script type = "text/javascript" src = "{{ "/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
    <script type = "text/javascript" src = "{{ "/js/docs.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
