---
---
@charset "utf-8";

.content .banner-header {
  background-color: #103942;
  position: relative;
  width: 100%;
  max-height: 128px;
  text-align: center;
}

.content .banner-header img {
  max-height: 128px;
  max-width: 100%;
}

.content article .image img {
  max-width: 100%;
}

.content article .image {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.content article .image.border img {
  border: 1px solid #D7B1D6;
  margin: 0 auto;
}

.content article {
  background-color: white;
  margin-top: 2px;
  padding-bottom: 10px;
}

.content article header h1 {
  background-color: #103942;
  background-color: rgba(23, 83, 96, 1);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding: 15px 15px;
  position: relative;
  letter-spacing: 0.05em;
}

.content article h2 {
  color: #0E748A;
  padding: 5px 5px;
  font-family: "Lato", "Montserrat Alternates";
  font-weight: normal;
  font-size: 26px;
}

.content article h3 {
  color: #333;
  color: #872196;
  color: #41467E;
  padding: 5px 5px;
  font-family: "Lato", "Alegreya Sans SC", "Montserrat Alternates";
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}

.content article a {
  color: rgb(14, 116, 248);
}

.content article header .post-meta {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

.content article p {
  padding: 0 5px;
  font-family: "Lato", sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
}

.content article p code,
.content article pre {
  font-family: 'inconsolata', monospace;
  line-height: 1.2em;
  font-size: 10pt;
}

.content article pre {
  background-color: #333;
  color: #ddd;
  overflow: auto;
  margin-left: 5px;
  padding: 5px 5px;
  margin-top: 10px;
}

.content article .highlight + p,
.content article ul + p,
.content article ol + p,
.content article pre + p {
  margin-top: 10px;
}

.content article > p:last-child {
  padding-bottom: 15px;
}

.content article ol ,
.content article ul {
  padding: 5px 5px;
  padding-bottom: 0px;

  font-family: "Lato", sans;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.3em;
}

.content article ol li {
  list-style-type: decimal;
  list-style-position: inside;

  margin-top: 5px;
  margin-left: 10px;
}

.content article ul li {
  list-style-type: disc;
  list-style-position: inside;

  font-family: "Lato", sans;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.3em;

  margin-top: 5px;
  margin-left: 10px;
}

.content article iframe {
  width: 100%;
  height: 800px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.content article .image .caption p {
  font-size: 14px;
  color: rgb(157, 79, 162);
}

.content article .notice::after {
  position: absolute;
  left: -15px;
  top:  -15px;
  content: '';
  display: block;
  width:   52px;
  height:  52px;
  background-image:  url('/images/notice_mark.svg');
  background-repeat: no-repeat;
  background-size:   52px;
}

.content article .notice {
  max-width: 500px;
  position: relative;
  font-family: "Lato";
  font-size: 10pt;
  line-height: 1.3em;
  font-weight: 300;
  background-color: rgb(255, 254, 239);

  margin-left:  auto;
  margin-right: auto;
  margin-top:   30px;

  padding: 10px;
  padding-left: 45px;

  border: 1px solid #aaa;
  border-radius: 10px;
}

.content article .notice + p {
  margin-top: 30px;
}
