---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body, html {
  height: 100%;
}

/* Nav bar, On Left Side */
nav {
  background-color: hsl(160, 50%, 97%);
  border-right: 5px solid hsl(160, 50%, 30%);

  float: left;
  position: fixed;

  overflow: auto;

  margin-right: 20px;

  width: 33%;
  height: 100%;
}

/* Nav bar header */
nav h1 {
  color: hsl(160, 50%, 20%);

  padding: 10px;

  font-family: "Marcellus SC", serif;
  font-size: 30px;
}

/* Nav bar options */
nav ul {
}

nav ul li {
  padding-left: 20px;
}

nav ul li a {
  color: hsl(160, 50%, 30%);
  display: block;

  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 400;

  text-decoration: none;

  padding: 10px;
}

nav > ul > li > ul > li > ul {
  border-bottom: 1px solid #5D9652;
  background-color: white;
  padding-left: 40px;
  margin-left: -40px;
}

nav ul li a:hover {
  background-color: #55A563;
  color: white;
}

nav ul li.loaded > a {
  background-color: rgb(51, 101, 60);
  color: white;
  padding-left: 50px;
  margin-left: -44px;
  font-weight: bold;
}

nav ul li.current > a {
  font-weight: bold;
  background-color: hsl(160, 66%, 90%);
}

nav ul li.current > a:hover {
  background-color: rgb(51, 101, 60);
}

/* Go to top/back nav */
nav > ul > li.back > a,
nav > ul > li.top > a {
  font-size: 14px;
}

/* Go to top/back nav arrows */
nav > ul > li > a > span.arrow {
  font-size: 10px;
  vertical-align: top;
  padding-right: 5px;
}

/* Subheader nav */
nav > ul > li {
}

nav > ul {
}

/* Sub-subheader nav */
nav ul li ul a {
  font-size: 11px;
  padding: 6px;
}

/* Main content */
.content {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  left: 33%;
  position: relative;
  width: 67%;

  padding: 20px;
}

/* Paragraph */
.content p {
  line-height: 1.6em;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.content p + p {
  margin-top: 10px;
}

.content p strong {
  font-weight: bold;
}

.content p em {
  font-style: italic;
}

/* Main Header */
.content h1 {
  border-bottom: 1px solid hsl(190, 80%, 36%);
  color: hsl(190, 60%, 45%);

  margin-bottom: 20px;

  padding-bottom: 5px;

  font-family: "Marcellus SC";
  font-size: 40px;
}

/* Subheader */
.content h2 {
  color: hsl(190, 60%, 45%);

  font-family: "Marcellus SC";
  font-size: 30px;

  margin-top: 40px;

  padding: 10px;
  padding-left: 0px;
}

/* Sub-subheader */
.content h3 {
  color: hsl(190, 30%, 55%);

  font-family: "Marcellus SC";
  font-size: 20px;

  margin-top: 20px;

  padding: 10px;
  padding-left: 0px;
}

/* Pre/Code sections */
.content pre {
  color: white;
  overflow: auto;

  font-family: "inconsolata", monospace;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.content code {
  color: hsl(200, 100%, 20%);
  font-family: "inconsolata", monospace;
}

/* Lists */
.content ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content ul li {
  background:url('/images/diamond.png') no-repeat left 7px;
  line-height: 1.3em;
  list-style: none;

  margin-left: 5px;
  margin-top: 5px;

  padding-left: 20px;
  padding-top: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
